DATABASE_NAME=default_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_ENGINE=postgresql
DATABASE_HOST=db
DATABASE_PORT=5432

DJANGO_SECRET_KEY=super duper secret key
DJANGO_ALLOWED_HOSTS=127.0.0.1

DEBUG=0
DEV_TEST_DATA_PROVISION=1